[env]
; This section defines common and shared variables
framework = arduino
platform = espressif32
lib_deps = 
	bblanchon/ArduinoJson@^6.21.3
	https://github.com/bitcoin-ring/Adafruit-PN532-NTAG424
	arduino-libraries/Arduino_CRC32@^1.0.0


[env:TDISPLAY-S3]
board = lilygo-t-display-s3
build_flags =
; Uncomment the following lines for I2C
	-D USE_I2C
	-D PN532_SDA=33
	-D PN532_SCL=35
; Uncomment the following lines for SPI
;	-D USE_SPI
;	-D PN532_SCK=12
;	-D PN532_MOSI=11
;	-D PN532_SS=10
;	-D PN532_MISO=13
monitor_speed = 115200

[env:LOLIN-S2-MINI]
board = lolin_s2_mini
build_flags =
; Uncomment the following lines for I2C
	-D USE_I2C
	-D PN532_SDA=18
	-D PN532_SCL=17
monitor_speed = 115200


[env:ESP32-DEV]
board = esp32dev
monitor_speed = 115200
build_flags =
	-D USE_I2C
	-D PN532_SDA=21
	-D PN532_SCL=22
;	-D USE_SPI
;	-D PN532_SCK=12
;	-D PN532_MOSI=11
;	-D PN532_SS=10
;	-D PN532_MISO=13
	${env.build_flags}



